html {
    background: #700;
}

body {
    margin: 0;
    font-size: 95%;
}

#header {
    height: 150px;
}

#header-logo {
    position: relative;
    top: 40px;
    box-shadow: 0 0 100px #fff;
    -moz-box-shadow: 0 0 100px #fff;
    -webkit-box-shadow: 0 0 100px #fff;
}

#header h1 {
    margin: -90px 0 0 200px;
    font-size: 30px;
    color: #fff;
}

#header h1 .sub {
    display: block;
    font-size: 60%;
    color: #caa;
    margin-bottom: 5px;
}

#content {
    background: #fff;
    padding: 80px 0 10px 0;
}

#social {
    position: relative;
    left: 200px;
    top: -60px;
    height: 0;
}

.fb-like {
    position: relative;
    top: -3px;
    left: -15px;
}

.twitter-share-button {
    margin-left: 10px;
}

.twitter-share-button {
    width: 110px !important;
}

#footer {
    color: #fff;
    padding: 10px 0;
    text-align: right;
}

#footer img.cc {
    vertical-align: middle;
    margin-left: 10px;
}

.body {
    width: 700px;
    margin: 0 auto;
    padding: 0 10px;
}

.releases {
    font-size: 18px;
    background: #fcc;
    padding: 20px 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.releases h3 {
    color: #666;
    font-size: 15px;
}

.releases li {
    list-style-type: none;
    padding: 5px 40px;
    margin: 5px 0;
}

.releases .online li {
    background: url(../images/ruby-doc.png) no-repeat;
}

.releases .mac li {
    background: url(../images/mac.png) no-repeat;
}

.releases .requirement {
    font-size: 15px;
}

.current {
    font-weight: bold;
}

.screenshot img {
    width: 700px;
}

p {
    text-indent: 1em;
    line-height: 1.5em;
    white-space: normal;
    line-break: strict;
    text-align: justify;
    text-justify: inter-ideograph;
}

dl dt {
  clear: left;
  float: left;
  margin: 0 0 0.5em;
  width: 7.5em;
  padding-left: 5px;
  color: #000;
}

dl dd {
  margin-bottom: 0.5em;
  margin-left: 7.5em;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #00f;
}

a:hover, a:visited:hover {
    text-decoration: underline;
    color: #f00;
}

#footer a, #footer a:link, #footer a:visited {
    color: #fff;
}

h2 {
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
}

.profile div {
    position: relative;
    left: 100px;
    top: -110px;
    height: 0;
}

.profile p {
    margin: 0 20px;
}
