html, body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.highlight {
    font-weight: bold;
}

.loading {
    background: url(loading.gif) no-repeat center;
    height: 100px;
}

#navi {
    width: 300px;
    height: 100%;
    border-right: 1px solid #ccc;
    background: #fff;
    position: fixed;
    overflow: auto;
}

#navi ul {
    margin-top: 30px;
    padding: 0;
    font-size: 12px;
    list-style: none;
}

#navi li.odd {
    background: #eef;
}

#navi li.more {
    padding: .5em;
    background: #fee;
    text-align: center;
}

#navi li a {
    display: block;
    padding: 5px;
    font-weight: normal;
}

#navi li a:hover {
    background: #ddd;
}

#navi li {
    overflow: hidden;
    white-space: nowrap;
}

#navi li .name {
    display: inline;
    height: 1.5em;
    color: #000;
}

#navi li .arg {
    display: inline;
    height: 1.5em;
    font-size: 10px;
    color: #888;
}

#navi li .desc {
    display: block;
    height: 1.5em;
    font-size: 10px;
    color: #888;
}

#search {
    position: fixed;
    padding: 4px;
    background: #eee;
}

#search input {
    width: 285px;
}

#content {
    margin-left: 300px;
    height: 100%;
    overflow: auto;
}

#body {
    margin: 1em;
}

