html, body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.loading {
    background: url(../images/loading.gif) no-repeat center;
    height: 100px;
}

.highlight {
    font-weight: bold;
}

#navi {
    width: 300px;
    height: 100%;
    border-right: 1px solid #aaa;
    background: #fff;
    position: fixed;
    overflow: auto;
}

#navi img {
    border: 0;
}

#contents, #index {
    margin-top: 37px;
}

#contents h2 {
    border: 0;
    padding: 0 8px;
    font-size: 15px;
    margin: 0;
    border-top: 1px solid #ddd;
    background: #eee;
}

#contents h3 {
    border: 0;
    padding: 0 8px;
    font-size: 13px;
    margin: 15px 0 0 0;
}

#navi ul {
    padding: 0;
    font-size: 12px;
    list-style: none;
}

#index li.odd {
    background: #eef;
}

#index li.more {
    padding: .5em;
    background: #fee;
    text-align: center;
}

#navi li a {
    display: block;
    padding: 5px;
    font-weight: normal;
    color: #000;
}

#navi li a:hover {
    background: #ddd;
}

#navi a:focus, #navi a:active {
    color: #000;
    background: none;;
}

#navi li {
    overflow: hidden;
    white-space: nowrap;
}

#navi li .key {
    display: block;
    height: 1.5em;
    color: #000;
}

#navi li .sub {
    display: block;
    height: 1.5em;
    font-size: 10px;
    color: #888;
}

#navi li .desc {
    display: block;
    height: 1.5em;
    font-size: 10px;
    color: #888;
}

#navi li a.current, #navi li a.current span {
    background: #33a;
    color: #fff;
}

#contents ul a {
    padding: 3px 10px;
}

#search {
    position: fixed;
    padding: 4px;
    background: #eee;
    width: 292px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
}

#search a {
    color: #000;
    font-size: 15px;
}

#search img {
    margin-top: -4px;
}

#search input {
    width: 200px;
    border: 1px solid #ccc;
    height: 18px;
    padding: 0 5px;
    margin: 0;
    margin-bottom: 4px;
    border-radius: 10px;
    outline: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

#search a:hover {
    background: #ccc;
}

#search img {
    vertical-align: middle;
    padding: 2px;
}

#content {
    margin-left: 300px;
    height: 100%;
    overflow: auto;
}

#body {
    margin: 1em;
}
